<html lang="zh-tw">
<head>
    <title>楓下共建成中景 2020四校資訊營</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
    <link rel="shortcut icon" href="../images/icon.png"/>
</head>
<body>
<section id="intro" class="main style1 dark fullscreen">
    <div class="content" style="text-align: center">
        <header>
            <h2 style="font-weight: bold;color: black">恭喜<strong><%=name%>!</strong><br>你已經成功報名!</h2>
        </header>
        <p>
            接下來請持續關注我們的粉專及網頁來獲得之後的消息<br>
            如果錄取，也將第一時間透過此電子郵件通知!<br>
            如有疑惑，請私訊我們的粉專管理員或是透過回覆此電子郵件來回復!
        </p>
    </div>
</section>

<footer id="footer">

    <!-- Icons -->
    <ul class="icons">
        <li><a href="https://url.ckcsc.net/7EgGXb" class="icon brands fa-facebook-f" target="_blank"><span class="label">Facebook</span></a></li>
        <li><a href="https://url.ckcsc.net/4Xfxzy" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
    </ul>
    <ul class="clubs">
        <li class="club"><a href="https://url.ckcsc.net/4yXMp" class="club" target="_blank">建中資訊 INFOR 33rd</a></li>
        <li class="club"><a href="https://url.ckcsc.net/5xHbdj" class="club" target="_blank">成功電研 CKCSC 33rd</a></li>
        <br class="fclub">
        <li class="club"><a href="https://url.ckcsc.net/urZUp" class="club" target="_blank">中山資研 ZSISC 27th</a></li>
        <li class="club"><a href="https://url.ckcsc.net/6u4mso" class="club" target="_blank">景美電資 CMIOC 27th</a></li>
    </ul>

    <!-- Menu -->
    <div class="menu" style="position: absolute;
    bottom: 0;
    text-align: center;
    background: #39454b;
    color: rgba(185, 186, 187, 0.5);">
        <div>&copy; IZCC SUMMER 2020</div>
    </div>

</footer>
</body>
</html>
