<html>
<head>
    <%include model/head.ejs%>
</head>
<body>
<%include model/header.ejs%>
<section id="intro" class="main style1 dark fullscreen">
    <div class="content" style="text-align: center">
        <header>
            <h2 style="font-weight: bold;color: black">當你收到這封信時，代表你已經成功!</h2>
        </header>
        <p>
            接下來請持續關注我們的粉專及網頁來獲得之後的消息<br>
            如果錄取，也將第一時間透過此電子郵件通知!<br>
            如有疑惑，請私訊我們的粉專管理員或是透過回覆此電子郵件來回復!
        </p>
    </div>
</section>

<%include model/footer.ejs%>
</body>
</html>
