<!DOCTYPE HTML>
<!--
	Big Picture by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<%include model/head.ejs%>
	</head>
	<body class="is-preload">

		<!-- Header -->
		<%include model/header.ejs%>

		<!-- Intro -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content">
					<header>
						<h2 style="font-family: 微軟正黑體;font-weight: bold;color: black"><br>營隊課程</h2>
					</header>
					<footer>
						<a href="#work" class="button style2 down" style="color: black">More</a>
					</footer>
				</div>
			</section>

		<!-- Work -->             
			<section id="work" class="m  ain style3 primary">
				<div class="content">
					<!--<header>
						<h2>追蹤臉書粉專!!!</h2>
					</header>-->
                    <table border="10px" style="margin: 20px 5% 20px 5%;width: 90%;text-align: center;border-color: black">
                        <tr style="width: 11%">
                            <th>時間</th>
                            <th>7/27</th>
                            <th>7/28</th>
                            <th>7/29</th>
                            <th>7/30</th>
                            <th>7/31</th>
                            <th>8/1</th>
                            <th>8/2</th>
                        </tr>
                        <tr style="width: 11%">
                            <th>集合地點</th>
                            <td>???</td>
                            <td>???</td>
                            <td>???</td>
                            <td>???</td>
                            <td>???</td>
                            <td>???</td>
                            <td>???</td>
                        </tr>
                        <tr style="width: 11%">
                            <th>8:00~9:00</th>
                            <td>???</td>
                            <td>???</td>
                            <td>???</td>
                            <td>???</td>
                            <td>???</td>
                            <td>???</td>
                            <td>???</td>
                        </tr>
                        <tr style="width: 11%">
                            <th>9:00~12:00</th>
                            <td>大地遊戲</td>
                            <td>blender</td>
                            <td>python gui</td>
                            <td>神祕活動</td>
                            <td>html</td>
                            <td>硬體</td>
                            <td>成發</td>
                        </tr>
                        <tr style="width: 11%">
                            <th>12:00~14:00</th>
                            <td>???</td>
                            <td>???</td>
                            <td>???</td>
                            <td>???</td>
                            <td>???</td>
                            <td>???</td>
                            <td>???</td>
                        </tr>
                        <tr style="width: 11%">
                            <th>14:00~17:00</th>
                            <td>C++</td>
                            <td>企業參訪</td>
                            <td>RPG</td>
                            <td>神祕活動</td>
                            <td>神祕活動</td>
                            <td>Machine learning</td>
                            <td>神祕活動</td>
                        </tr>
                    </table>
					<!-- Gallery  -->
						<!--<div class="gallery">
							<article class="from-left">
								<a href="images/fulls/01.jpg" class="image fit"><img src="images/thumbs/01.jpg" title="The Anonymous Red" alt="" /></a>
							</article>
							<article class="from-right">
								<a href="images/fulls/02.jpg" class="image fit"><img src="images/thumbs/02.jpg" title="Airchitecture II" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="images/fulls/03.jpg" class="image fit"><img src="images/thumbs/03.jpg" title="Air Lounge" alt="" /></a>
							</article>
							<article class="from-right">
								<a href="images/fulls/04.jpg" class="image fit"><img src="images/thumbs/04.jpg" title="Carry on" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="images/fulls/05.jpg" class="image fit"><img src="images/thumbs/05.jpg" title="The sparkling shell" alt="" /></a>
							</article>
							<article class="from-right">
								<a href="images/fulls/06.jpg" class="image fit"><img src="images/thumbs/06.jpg" title="Bent IX" alt="" /></a>
							</article>
						</div>-->

                </div>
                <!--<a href="#one" class="button style2 down" style="color: black;margin: 0 45% 0 45%;width: 10%">Info</a>-->
			</section>
        
        
        
        <section id="cpp" class="main style2 right dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>C++</h2>
					</header>
					<p>還在使用scratch寫程式嗎?那你就落伍了!跟上108課綱的腳步，用C製造出無所不能的程式，解決生活大小事，了解電腦的奧秘
						不管有沒有學過，都是你最佳的選擇</p>
						<p class="crwd"><strong>課程簡介:</strong><br>
						1.程式語言介紹<br>
						2.C++環境介紹、程式基本架構<br>
						3.變數、進位制<br>
						4.輸入輸出判斷式<br>
						5.迴圈<br>
						6.陣列</p>
				</div>
				<a href="#blender" class="button style2 down anchored">Next</a>
			</section>

		<!-- Two -->
			<section id="blender" class="main style2 left dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>blender</h2>
					</header>
					<p>想學專業3D建模軟體但不花錢嗎?想做出擬真的光影模擬效果嗎?使用開源軟體Blender，進行3D	建模，調整物件(Object)材質(Material)，並渲染(Render)輸出圖片。</p>
					<p class="crwd"><strong>課程內容:</strong><br>1.作環境介紹<br>2.介面操作<br>3.建模工具使用<br>4.材質參數設定<br>5.渲染參數設定</p>
				</div>
				<a href="#visit" class="button style2 down anchored">Next</a>
			</section>
        
        <!-- One -->
			<section id="visit" class="main style2 right dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>企業參訪</h2>
					</header>
					<p>預計參訪精誠資訊SYSTEX Corporation
						成立於1997年，如今已是資訊服務產業龍頭
						並創立你我熟知的YTP少年圖靈計畫，培育高中軟體人才
						我們將安排該企業相關演講與部分的環境參觀，讓你深入了解資訊產業！</p>
				</div>
				<a href="#python" class="button style2 down anchored">Next</a>
			</section>

		<!-- Two -->
			<section id="python" class="main style2 left dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>python gui</h2>
					</header>
					<p>從小到大，我們玩了許多電玩遊戲。你是否有想過，不透過程式積木，而是透過程式語言，還原你最愛的經典遊戲神作，抑或是自己創造一款遊戲呢?如果是，那麼你就不能錯過四校暑訓的GUI(使用者介面)課程!!加入我們，成為應用軟體設計大師吧!</p>
					<p class="crwd"><strong>課程內容:</strong><br>1.安裝VSC<br>2.簡介Python<br>3.教Python基本語法<br>4.用Python GUI做遊戲</p>
				</div>
                <a href="#html" class="button style2 down anchored">Next</a>
			</section>
        
        <section id="html" class="main style2 right dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>html</h2>
					</header>
					<p>在html課程中，我們會從0開始教基礎的html語法，也會教如何套模版讓你的網頁更有設計感</p>
					<p class="crwd"><strong>課程內容：</strong><br>1.基本標籤<br>2.巢狀<br>3.套版<br>4.簡單css</p>
				</div>
				<a href="#computer" class="button style2 down anchored">Next</a>
			</section>

		<!-- Two -->
			<section id="computer" class="main style2 left dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>硬體</h2>
					</header>
					<p>有沒有想過組一台屬於自己的電腦呢?選電腦時看不懂規格?沒關係，讓我們用幾小時的時間，從電腦基礎的運作原理講起，到可以為自己的電腦配單、重灌作業系統，甚至是自己拆裝電腦。幾小時的時間，讓你變身一個電腦維修大師!</p>
					<p class="crwd"><strong>課程內容:</strong><br>1.電腦硬體簡介<br>2.教電腦挑選配單<br>3.電腦組裝實作</p>
				</div>
				<a href="#ml" class="button style2 down anchored">Next</a>
			</section>
        
		<!-- Two -->
			<section id="ml" class="main style2 right dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>Machine learning</h2>
					</header>
					<p>人工智慧和機器學習是當前最熱門的前線科技之一，想要一探究竟機器學習是如何運作的嗎?這堂課將帶領著你從零開始去認識人工智慧，保證上完課的你一定會收穫滿滿!</p>
					<p class="crwd"> <br><strong>課程內容:</strong><br>1.機器學習與神經網路簡介<br>2.深度神經網路的運作原理<br>3.卷積神經網路與圖像辨識</p>
				</div>
				<a href="#contact" class="button style2 down anchored">Next</a>
			</section>

		<!-- Contact -->
			<section id="contact" class="main style3 secondary">
				<div class="content">
					<header>
						<h2>立即報名</h2>
						<p>對象以國三升高一為主~</p>
					</header>
					<div class="box" style="background-color: rgba(0,0,0,0)">
						<!--<form method="post" action="#">-->
							<!--<div class="fields">
								<div class="field half"><input type="text" name="name" placeholder="Name" /></div>
								<div class="field half"><input type="email" name="email" placeholder="Email" /></div>
								<div class="field"><textarea name="message" placeholder="Message" rows="6"></textarea></div>
							</div>-->
							<ul class="actions special">
								<li><input type="submit" value="我要報名" onclick="location.href='signup'" /></li>
							</ul>
						<!--</form>-->
					</div>
				</div>
			</section>

		<!-- Footer -->
		<%include model/footer.ejs%>

		<!-- Scripts -->
		<%include model/script.ejs%>

	</body>
</html>