<html>
<head>
    <%include model/head.ejs%>
</head>
<body>
<%include model/header.ejs%>
<section id="intro" class="main style1 dark fullscreen">
    <div class="content">
        <header>
            <h2 style="font-family: 微軟正黑體;font-weight: bold;color: black">ERROR 404<br>此頁面不存在</h2>
        </header>
    </div>
</section>

<%include model/footer.ejs%>
</body>
</html>
