<html>
<head>
    <%include model/head.ejs%>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>
</head>
<body>
<%include model/header.ejs%>
<div style="height: 64%">
    <h1 style="text-align: center;font-size: 48px;margin-top: 200px;margin-bottom: 20px">錯誤 404</h1>
    <h2 style="text-align: center;font-size: 32px;margin-bottom: 200px">此頁面不存在</h2>
</div>

<%include model/footer.ejs%>
</body>
</html>
