<html>
    <head>
        <%include model/head.ejs%>
    </head>
    <body>
        <%include model/header.ejs%>

        <div style="text-align: center;width: 50%;margin: auto">
            <h1>管理員登入</h1>
            <form  method="post">
                <label>名字<br><input name="name" required type="text"></label>
                <label>密碼<br><input name="password" required type="password"></label>
                <label>暗碼<br><input name="secret" required type="password"></label>
                <input type="submit">
            </form>
        </div>
        <%include model/footer.ejs%>
    </body>
    <%include model/script.ejs%>
    <script>
        $('form').on('submit',function (e) {
            e.preventDefault();
            $.ajax({
                url:"/admin/login",
                type: 'POST',
                data:$(this).serialize(),
                success: function (data) {
                    alert(data);
                    window.location.href='/';
                }, error: function (data) {
                    alert(data.responseText)
                    setTimeout(function () {
                        $('.create').prop('disabled',false);
                    },1000)
                }

            })
        })
    </script>
</html>