<!DOCTYPE HTML>
<!--
	Big Picture by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<%include model/head.ejs%>
	</head>
	<body class="is-preload">

		<!-- Header -->   
        <%include model/header.ejs%>

		<!-- Intro -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content">
					<header>
						<h2 style="font-family: 微軟正黑體;font-weight: bold;color: black"><br>Q&A</h2>
					</header>
					<!--<p style="color: black"> <br><strong>楓下共建成中景</strong> 是由建資、成電、楓資、景資四校共同舉辦的暑假營隊<br>我們有C++、python、html等課程，從基礎教起，不用怕沒經驗！<br>還有企業參訪及神秘活動，讓你的暑假不無聊！</p>-->
					<footer>
						<a href="#work" class="button style2 down" style="color: black">More</a>
					</footer>
				</div>
			</section>

		<!-- Work -->             
			<section id="work" class="main style3 primary" style="padding-bottom: 30px;width: 100%"  >
				<div class="content" style="width: 100%">
					<!--<header style="width: 100%">
						<h2>報名須知</h2>
                        <p style="margin: auto 20% auto 20% ; width: 60%">感謝熱情報名此次暑訓的各位同學！本活動一律採用線上報名，請各位同學在報名時間內完整填寫報名表單。 報名成功後，我們將於七月初公佈錄取名單，請各位留意E-mail信箱、FB粉絲專頁及網站公告！</p>
					</header>-->
					<p style="margin: 20px 10%;width: 80%;text-align: left">
						Q:為甚麼你們這個活動的費用那麼貴？
						A:此費用含括了講義費、場地費，以及每天的午餐及保險費，還有一件訓服噢！
						<br>
						Q:如果我的小孩對此營隊很有興趣，但他/她無法全勤，請問可以只繳交部分費用嗎？
						A:我們活動有退費機制，所以只來幾天也沒問題噢！
						退費機制請參閱<a href="/signup" class="ddl">這裡</a>
						<br>
						Q:請問企業參訪要去哪裡呢？
						A:我們要去參訪的是精誠資訊噢！
						<br>
						Q:請問你們講師是從哪裡找來的？真的有那個實力教我的孩子嗎？
						A:我們會請四校社團各個專精於該領域的講師來授課，於活動開始前安排講師試教，並且調整或較難理解的部份。
						<br>
						Q:請問報名年齡有限制嗎？
						A:有，我們以國三升高一的同學為優先，招收正在就讀國中的同學，不論性別或學校，只要對資訊懷有興趣或熱忱的同學都歡迎報名噢！
						<br>
						Q:請問此次活動預計招募多少同學？
						A:這次暑訓將招收40人噢。
						人數若達上限40人 我們會於粉絲專頁公告 並且之後採取線上抽籤決定錄取者喔
						<br>
						Q:請問這個活動有要住宿嗎？
						A:這個活動都是當天來回，且會有學長姊接送同學到捷運站，所以不用擔心住宿的問題。
						<br>
						Q:請問課程會不會很難？我的孩子聽不懂該怎麼辦？
						A:此次暑訓的課程包含入門之程式語言及美宣軟體，且現場皆有部分學長姐待在授課教室內，若同學有任何問題的話，無論是舉手向講師提問或詢問周遭的學長姐，都能立即獲得解答噢！
						<br>
						Q:請問這個活動活動會不會頒發證書？
						A:本活動不會頒發證書，但有精美的訓服可以紀念喔!
						<br>
						請問若有其他問題想要詢問該怎麼辦？
						請洽詢<a href="https://url.ckcsc.net/7EgGXb" class="ddl" target="_blank">FB粉絲專頁</a>，工作人員會盡快回覆的。
					</p>
                </div>
			</section>
		<!-- Footer -->
			<footer id="footer" style="width: 100%">

				<!-- Icons -->
					<ul class="icons">
						<li><a href="https://url.ckcsc.net/7EgGXb" class="icon brands fa-facebook-f" target="_blank"><span class="label">Facebook</span></a></li>
						<li><a href="https://url.ckcsc.net/4Xfxzy" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
					</ul>
                    <ul class="clubs">
                        <li class="club"><a href="https://url.ckcsc.net/4yXMp" class="club" target="_blank">建中資訊 INFOR 33nd</a></li>
                        <li class="club"><a href="https://url.ckcsc.net/5xHbdj" class="club" target="_blank">成功電研 CKCSC 33nd</a></li>
                        <br class="fclub">
                        <li class="club"><a href="https://url.ckcsc.net/urZUp" class="club" target="_blank">中山資研 ZSISC 27nd</a></li>
                        <li class="club"><a href="https://url.ckcsc.net/6u4mso" class="club" target="_blank">景美電資 CMIOC 27nd</a></li>
                    </ul>

				<!-- Menu -->
					<ul class="menu">
						<li>&copy; IZCC SUMMER 2020</li><li>Design: IZCC Network Management &amp; HTML5 up</li>
					</ul>

			</footer>

		<!-- Scripts -->
        <%include model/script.ejs%>
        <script src="assets/js/form.js" charset="UTF-8"></script>

	</body>
</html>