<!DOCTYPE HTML>
<!--
	Big Picture by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<%include model/head.ejs%>
	</head>
	<body class="is-preload">

		<!-- Header -->   
        <%include model/header.ejs%>

		<!-- Intro -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content">
					<header>
						<h2 style="font-family: 微軟正黑體;font-weight: bold;color: black"><br>報名</h2>
					</header>
					<!--<p style="color: black"> <br><strong>楓下共建成中景</strong> 是由建資、成電、楓資、景資四校共同舉辦的暑假營隊<br>我們有C++、python、html等課程，從基礎教起，不用怕沒經驗！<br>還有企業參訪及神秘活動，讓你的暑假不無聊！</p>-->
					<footer>
						<a href="#work" class="button style2 down" style="color: black">More</a>
					</footer>
				</div>
			</section>

		<!-- Work -->             
			<section id="work" class="main style3 primary" style="padding-bottom: 30px;width: 100%"  >
				<div class="content" style="width: 100%">
					<header style="width: 100%">
						<h2>報名須知</h2>
                        <p style="margin: auto 20% auto 20% ; width: 60%">感謝熱情報名此次暑訓的各位同學！本活動一律採用線上報名，請各位同學在報名時間內完整填寫報名表單。 報名成功後，我們將於七月初公佈錄取名單，請各位留意E-mail信箱、FB粉絲專頁及網站公告！</p>
					</header>
                    <section id="left">
                        <ul class="dot">
                            <h3>報名日程</h3>
                            <li style="text-align: left">報名時間：即日起 ~ 7/10（四）</li>
                            <li style="text-align: left">公佈錄取名單：7/11（五）</li>
                            <li style="text-align: left">營隊活動時間：7/27（一） ~ 8/2（日）
                                每日活動以8:00 AM ~ 5:00 PM 為主，供應午餐。
                                （活動日程表請參見課程資訊，主辦單位保留異動空間）</li>
                        </ul>
                        <br><br>
                        <ul class="num">
                            <h3>報名流程</h3>
                            <li style="text-align: left">列印家長同意書<a href="../file/%E5%AE%B6%E9%95%B7%E5%90%8C%E6%84%8F%E6%9B%B8(%E5%AD%B8%E5%93%A1).pdf" class="ddl" download>【下載】</a>，簽名後拍照或掃描上傳</li>
                            <li style="text-align: left">線上填寫報名表單並上傳檔案</li>
                            <li style="text-align: left">名單公佈：7/5（五）</li>
                            <li style="text-align: left">依照公告指示完成繳費</li>
                            <li style="text-align: left">公佈已繳費名單，確認完成報名流程</li>
                        </ul>
                    </section>
                    <section id="right">
                        <ul class="dot">
                            <h3>招收對象</h3>
                            <li style="text-align: left">目前正在就讀國中的同學，並以國三生為優先。</li>
                        </ul>
                        <ul class="dot">
                            <h3>活動費用</h3>
                            <li style="text-align: left">全程參與為 $2500 元，若有請假則按照情形退費。</li>
                            <li style="text-align: left">匯款方式請參考我們寄出的錄取通知和匯款通知！</li>
                        </ul>
                        <ul class="dot">
                            <h3>退款辦法</h3>
                            <li style="text-align: left">7/11 23:59前 退 90% 費用</li>
                            <li style="text-align: left">7/23 23:59前 退 50% 費用</li>
                            <li style="text-align: left">活動每請假一天退費 $70 元</li>
                        </ul>
                        <ul class="dot">
                            <h3>遇到問題?</h3>
                            <li style="text-align: left">請洽詢<a href="https://url.ckcsc.net/7EgGXb" class="ddl">粉專</a>!</li>
                        </ul>
                    </section>
                </div>
        </section>
        <hr style="border: 0;height: 1px;background-image: linear-gradient(to right, #ccc, #333, #ccc);margin: 20px 5%" />
        <section id="work">
            <div class="content">
                <ul class="actions special">
				    <li><input  id="btn" type="submit" value="填寫報名表" onclick="document.getElementById('sign').style.display = 'inherit';document.getElementById('btn').style.display = 'none'" /></li>
				</ul>
                <form class="sign" id="sign" style="width: 100%;margin: 20px 0;display: none">
                    <h4 class="sign star">全名</h4>
                    <input type="text" required name="name" style="width: 80%;margin: 20px 10%">
                    <h4 class="sign star">性別</h4>
                    <select name="gender" required style="width: 80%;margin: 20px 10%">
                        <option value="男">男</option>
                        <option value="女">女</option>
                    </select>
                    <h4 class="sign star">訓服尺寸</h4>
                    <select name="size" required style="width: 80%;margin: 20px 10%">
                        <option value ="XS">XS</option>
                        <option value ="S">S</option>
                        <option value ="M">M</option>
                        <option value ="L">L</option>
                        <option value ="XL">XL</option>
                        <option value ="2L">2L</option>
                        <option value ="3L">3L</option>
                        <option value ="4L">4L</option>
                    </select>
                    <h4 class="sign">就讀國中</h4>
                    <input name="school"  type="text" style="width: 80%;margin: 20px 10%">
                    <h4 class="sign star">連絡電話</h4>
                    <input name="phone" required type="text" style="width: 80%;margin: 20px 10%">
                    <h4 class="sign star">家長姓名</h4>
                    <input name="parent" required type="text" style="width: 80%;margin: 20px 10%">
                    <h4 class="sign star">交通方式</h4>
                    <input name="traffic" required type="text" class="sign" placeholder="(自行前往/家長接送)" style="width: 80%;margin: 20px 10%">
                    <h4 class="sign star">葷素習慣</h4>
                    <select name="eat" required style="width: 80%;margin: 20px 10%">
                        <option value ="葷">葷</option>
                        <option value ="素">素</option>
                    </select>
                    <h4 class="sign star">Email</h4>
                    <input name="email" required type="email" class="sign" style="width: 80%;margin: 20px 10%">
                    <h3 style="text-align: center;line-height: 100px">保險資訊</h3>
                    <hr style="border: 0;height: 1px;background-image: linear-gradient(to right, #ccc, #333, #ccc);margin: 20px 5%" />
                    <h4 class="sign star">身份證字號</h4>
                    <input name="identity" required  type="text" style="width: 80%;margin: 20px 10%">
                    <h4 class="sign star">生日</h4>
                    <input name="birthday" type="date" style="width: 80%;margin: 20px 10%">
                    <h4 class="sign star">緊急聯絡人:<br>【姓名/關係/電話】</h4>
                    <input name="emergency" type="text" style="width: 80%;margin: 20px 10%">
                    <h4 class="sign star">繳交家長同意書<a href="../file/%E5%AE%B6%E9%95%B7%E5%90%8C%E6%84%8F%E6%9B%B8(%E5%AD%B8%E5%93%A1).pdf" class="dl" download>【下載】</a><br>（請上傳家長同意書圖檔）</h4>
                    <input type="file" accept="image/*" style="width: 80%;margin: 20px 10%">
                    <hr style="border: 0;height: 1px;background-image: linear-gradient(to right, #ccc, #333, #ccc);margin: 20px 5%" />
                    <h4 class="sign">備註</h4>
                    <textarea name="note" style="font-size: 24px;width: 80%;margin: 30px 10%;height: 500px;resize: none"></textarea>
                    <ul class="actions special">
				        <li><input type="submit" value="送出" style="background-color: #57aa61" /></li>
				        <li><input type="reset" value="清除重填" style="background-color: #c64f4f" /></li>
				    </ul>
                </form>
            </div>
        </section>
		<!-- Footer -->
			<footer id="footer" style="width: 100%">

				<!-- Icons -->
					<ul class="icons">
						<li><a href="https://url.ckcsc.net/7EgGXb" class="icon brands fa-facebook-f" target="_blank"><span class="label">Facebook</span></a></li>
						<li><a href="https://url.ckcsc.net/4Xfxzy" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
					</ul>
                    <ul class="clubs">
                        <li class="club"><a href="https://url.ckcsc.net/4yXMp" class="club" target="_blank">建中資訊 INFOR 33nd</a></li>
                        <li class="club"><a href="https://url.ckcsc.net/5xHbdj" class="club" target="_blank">成功電研 CKCSC 33nd</a></li>
                        <br class="fclub">
                        <li class="club"><a href="https://url.ckcsc.net/urZUp" class="club" target="_blank">中山資研 ZSISC 27nd</a></li>
                        <li class="club"><a href="https://url.ckcsc.net/6u4mso" class="club" target="_blank">景美電資 CMIOC 27nd</a></li>
                    </ul>

				<!-- Menu -->
					<ul class="menu">
						<li>&copy; IZCC SUMMER 2020</li><li>Design: IZCC Network Management &amp; HTML5 up</li>
					</ul>

			</footer>

		<!-- Scripts -->
        <%include model/script.ejs%>
        <script src="assets/js/form.js" charset="UTF-8"></script>

	</body>
</html>