<footer id="footer">

    <!-- Icons -->
    <ul class="icons">
        <li><a href="https://url.ckcsc.net/7EgGXb" class="icon brands fa-facebook-f" target="_blank"><span class="label">Facebook</span></a></li>
        <li><a href="https://url.ckcsc.net/4Xfxzy" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
    </ul>
    <ul class="clubs">
        <li class="club"><a href="https://url.ckcsc.net/4yXMp" class="club" target="_blank">建中資訊 INFOR 33rd</a></li>
        <br class="nclub">
        <li class="club"><a href="https://url.ckcsc.net/5xHbdj" class="club" target="_blank">成功電研 CKCSC 33rd</a></li>
        <br class="fclub">
        <li class="club"><a href="https://url.ckcsc.net/urZUp" class="club" target="_blank">中山資研 ZSISC 27th</a></li>
        <br class="nclub">
        <li class="club"><a href="https://url.ckcsc.net/6u4mso" class="club" target="_blank">景美電資 CMIOC 27th</a></li>
    </ul>

    <!-- Menu -->
    <ul class="menu">
        <li>&copy; IZCC SUMMER 2020</li><li>Design: IZCC Network Management &amp; HTML5 up</li>
    </ul>

</footer>