<header id="header">
    <h1>楓下共建成中景</h1>
    <nav>
        <ul>
            <li><a class="hhh" href="/">首頁</a></li>
            <li><a class="hhh" href="/about">簡介</a></li>
            <li><a class="hhh" href="/class">課程</a></li>
            <li><a class="hhh" href="/signup">報名</a></li>
            <li class="int"><a href="https://url.ckcsc.net/7EgGXb" class="int icon brands fa-facebook-f" target="_blank"><span class="label">Facebook</span></a></li>
            <li class="int"><a href="https://url.ckcsc.net/4Xfxzy" class="int icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
        </ul>
    </nav>
    <div class="alert-message"></div>
</header>